#	Filestructure examples
TF-2-Armory\mods\TheAvaliEngineer.TAEsArmory\mod\scripts\archon_TitanFrameworkInit.nut
TF-2-Armory\mods\TheAvaliEngineer.TAEsArmory\mod\scripts\Chimera_CreateTitan.gnut
TF-2-Armory\mods\TheAvaliEngineer.TAEsArmory\mod\scripts\TitanFrameworkInitBrute4.nut